.container {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container > button {
  margin: 0 15px;
}

.button-container > div {
  margin: auto;
}

.progress-bar {
  padding: 2px;
  margin: 1em 0;
}

.alert {
  position: relative;
  top: 10em;
  left: 41%!important;
}
.alert .MuiPaper-root.MuiSnackbarContent-root.MuiPaper-elevation6 {
  background: red;
}