.container {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container > button {
  margin: 0 15px;
}

.button-container > div {
  margin: auto;
}

.progress-bar {
  padding: 2px;
  margin: 1em 0;
}